@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.confirm-modal-content {
    @include modal-style;
    padding: 20px;
    width: 400px;
}

.confirm-modal-header {
    @include text-style($font-size-large, $font-color);
    margin-bottom: $spacing-medium;
    text-align: center;
    font-weight: bold;
}

.confirm-modal-body {
    @include text-style($font-size-normal, $text-color-light);
    margin-bottom: $spacing-medium;
    text-align: center;
}

.confirm-modal-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .button {
        &:first-child {
            @include button-style($error-color, white);
        }

        &:last-child {
            @include button-style($secondary-color, white);
        }
    }
}
