@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.details-modal {
    @include modal-style;
    display: flex;

    .detail-content {
        &__image {
            width: 200px;
        }
    }

    .button {
        margin: $spacing-small;
        @include button-style($primary-color, white);

        &--edit {
            @include button-style($secondary-color, white);
        }
    }
}
