@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";
.detail-content__item {
    width: 100%;
    margin: $spacing-unit 0;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__label {
        font-weight: bold;
        margin-right: $spacing-small;
    }

    &__value {
        color: $text-color-light;
    }
}
