@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.favorite-button {
  color: $primary-color;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: $font-size-large;
  cursor: pointer;

  &--favorited {
    color: $error-color;
  }
}