@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-medium;

  &__label {
    margin-bottom: $spacing-small;
    font-weight: bold;
  }

  &__textarea {
    padding: $spacing-small;
    border: 1px solid $primary-color;
    border-radius: 4px;
    resize: vertical;
  }
}
