@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";
.detail-content__image-container {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-large;
    margin-right: $spacing-small;
    display: flex;
    justify-content: center;
}

.detail-content__image {
    width: 70%;
    height: auto;
    border-radius: $border-radius; // Square

    // Size
    &--small {
        width: 50%;
    }
    &--large {
        width: 100%;
    }

    // Shape
    &--circle {
        border-radius: 50%;
    }
    &--square {
        border-radius: $border-radius;
    }
}
