@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.search-bar {
  // Basic
  display: flex;
  align-items: center;
  margin-bottom: $spacing-medium;

  &__input {
    // search input basic style
    flex: 1; // occupy the whole part
    padding: $spacing-small;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    outline: none;

    &:focus {
      border-color: darken($primary-color, 10%);
    }
  }
}
