// StarRating.scss
.star-rating {
  display: flex;
  align-items: center;

  &__star {
    // Basic
    color: gold; 
    margin-right: 4px; 
    cursor: pointer; 

    &:hover {
      transform: scale(1.1); 
    }
  }

  &__star--full {
    color: gold; 
  }

  &__star--empty {
    color: grey; 
  }
}
